<div class="row">
    <div class="col-md-4">
    <table class="table">
        <tr>
            <th>
                Workflow List
            </th>
        </tr>
        <tr ng-repeat="workflow in workflows">
            <td>{{ workflow.name }}</td>
            <td><a href="#/workflow/{{workflow._id}}"><span title="Show details" class="glyphicon glyphicon-share-alt"></span></a></td>
        </tr>
    </table>
</div>

    ADD WORKFLOW
    <form ng-submit="submitWorkflow()">
        <input type="text" ng-model="workflow.name"/>
        <input type="text" ng-model="workflow.max_time"/>
        <input type="submit" value="Add Workflow"/>
    </form>
</div>