<div ng-repeat="workflow in workflows">
    <h2>Workflow {{workflow.name}}</h2>
    {{workflow}}
    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <tr>
                    <th>
                        Command List
                    </th>
                </tr>
                <tr ng-repeat="command in workflow.commands">
                    <td>{{ command.name }}</td>
                </tr>
            </table>
        </div>

    </div>
</div>